.simple-player {
  text-align: center;
}

.controls button {
  margin: 0 5px;
  font-size: 1em;
  padding: 0.25em 0.25em;
}

.event-log-body {
  padding: 0.0em;
  margin-block: 0.0em;
}

.fa-button {
  font-size: 24px;
  margin: 0 5px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.dimmedButton {
  opacity: 0.5;
}

.track-info {
  display: block;
  width: 100%; /* or a fixed width like 300px */
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  font-size: 1.2em;
  border-block-style:solid;
  border-color:brown;
}

  .track-info::before {
    content: attr(data-text);
    position: absolute;
    animation: scroll-text 10s linear infinite;
    padding-left: 100%; /* push start off screen */
  }

@keyframes scroll-text {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.pulsing-border {
  border: 2px solid #00bcd4; /* Choose your color */
  padding: 1rem;
  border-radius: 8px;
  animation: pulseBorder 1.5s infinite;
}

.still-border {
  border: 2px solid #00bcd4; /* Choose your color */
  padding: 1rem;
  border-radius: 8px;
  opacity: 0.5;
}

@keyframes pulseBorder {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 188, 212, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(0, 188, 212, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 188, 212, 0);
  }
}
