.simple-player {
  text-align: center; 
}

.muted-background::before {
  content: '';
  position: absolute;
  inset: 0;
  filter: grayscale(60%) brightness(70%);
  z-index: 0;
}

.muted-background > * {
  position: relative;
  z-index: 1;
}

.controls button {
  margin: 0 5px;
  font-size: 1em;
  padding: 0.25em 0.25em;
}

.event-log-body {
  padding: 0.0em;
  margin-block: 0.0em;
}

.fa-button {
  font-size: 24px;
  margin: 0 5px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.dimmedButton {
  opacity: 0.5;
}

.track-info {
  display: block;
  width: 100%; /* or a fixed width like 300px */
  overflow:clip;
  white-space: nowrap;
  position: relative;
  font-size: 1.2em;
  border-block-style:solid;
  border-color:brown;
  box-sizing:border-box;
}

  .track-info::before {
    content: attr(data-text);
    display: inline-block;
    position: absolute;
    animation: keyframes 10s linear infinite;
    padding-left: 50%; /* push start off screen */
  }

@keyframes keyframes {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.pulsing-border {
  border: 2px solid #00bcd4; /* Choose your color */
  padding: 1rem;
  border-radius: 8px;
  animation: pulseBorder 1.5s infinite;
}

.still-border {
  border: 2px solid #00bcd4; /* Choose your color */
  padding: 1rem;
  border-radius: 8px;
  opacity: 0.5;
}

@keyframes pulseBorder {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 188, 212, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(0, 188, 212, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 188, 212, 0);
  }
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 14px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above button */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-container.show-tooltip .tooltip-text {
  visibility: visible;
  opacity: 1;
}
